[submodule "commonUtilities"]
	path = commonUtilities
	url = git@github.com:cgroll/commonUtilities.git
[submodule "finDataMatlab/private_data"]
	path = finDataMatlab/private_data
	url = git@gitlab.com:cgroll/private_data.git
[submodule "scacapFuncs"]
	path = scacapFuncs
	url = git@gitlab.com:cgroll/scacapFuncs.git
